#full-image {
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    width: 256px;
}
#full-image img {
    position: relative;
    z-index: 0;
}
#full-image img:hover {
    outline: 2px solid cyan;
    z-index: 1;
}
#close-up {
    image-rendering: pixelated;
    width: 256px;
    height: 256px;
}
